* {
  margin: 0;
  padding: 0;
}

/* Common shared style  */
body {
  font-family: 'Poppins', sans-serif;
}
.btn {
  background-color: #e55473;
  padding: 20px 43px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
}
/* button animation */
.btn:hover {
  background-color: #ffffff;
  color: #e55473;
}
.section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}
.section-description {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 52px;
}
.text-highlight {
  color: #e55473;
}
/* Menu Bar */
.logo-image {
  width: 70px;
}
.nav-container {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  align-items: center;
  background-color: #e55473;
}
.menu-bar {
  display: flex;
  list-style: none;
  gap: 30px;
}
.menu-btn {
  text-decoration: none;
  color: white;
  background-color: rgba(27, 168, 17, 0.842);
  padding: 5px 20px;
  border-radius: 8px;
  font-size: 22px;
}
.menu-btn:hover {
  background-color: white;
  color: #e55473;
}
/* banner style  */
.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 240px;
  padding-right: 240px;
  background-color: rgba(229, 84, 115, 0.1);
}

.banner-title {
  color: #272727;
  /* width: 710px; */
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  /* width: 635px; */
  padding: 32px 0px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.banner-image {
  width: 635px;
  height: 800px;
  margin-top: 50px;
  margin-left: 100px;
}
/* featured flower section  */
.feature-container {
  padding: 178px 240px 128px 240px;
}
.tree-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 50px;
}
.tree1,
.tree2,
.tree3 {
  width: 465px;
  height: 540px;
  border-radius: 300px 300px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.tree1 {
  background-color: rgba(167, 33, 98, 0.15);
}
.tree2 {
  background-color: rgba(5, 151, 160, 0.15);
}
.tree3 {
  background-color: rgba(71, 125, 17, 0.15);
}
.tree-image1,
.tree-image3 {
  width: 310px;
  height: 430px;
}
.tree-image2 {
  width: 370px;
  height: 370px;
  margin-bottom: 50px;
}
.tree-title {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-decoration-line: underline;
  margin-top: 32px;
}
/* Delivery and Support */

.delivery-support {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: auto;
}
.ds-title {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
}

/* Hot Deals  */
.hot-deals-container {
  display: flex;
  border-radius: 8px;
  background-color: rgba(229, 84, 115, 0.05);
  align-items: center;
  justify-content: space-around;
  padding: 100px 400px;
  margin-top: 130px;
}
.hot-deals {
  text-align: center;
}
.hot-deal-image {
  width: 318px;
  height: 420px;
  /* padding: 100px 430px 100px 210px; */
}

/* instagram */
.instagram {
  padding-top: 130px;
  padding-bottom: 130px;
  text-align: center;
}
.insta-image-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

/* latest Deals */
.latest-deal-container {
  display: flex;
  justify-content: center;
}
.latest-deals {
  padding-top: 122px;
  text-align: center;
  width: 1440px;
  height: 449px;
  border-radius: 8px;
  background-image: url('../images/latestdeal.png');
  background-repeat: no-repeat;
}
input[type='email'] {
  padding: 22px 510px 22px 22px;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
}
/* footer Section */
.footer-container {
  background-color: #111010;
  text-align: center;
}
.footer-title {
  color: #ffffff;
  padding-top: 128px;
}
.footer-description {
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  padding-top: 24px;
  padding-bottom: 32px;
}
.footer-rights {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 128px;
}
